.empty-view-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: #efefef;
}

.empty-view-cont > img {
  height: 300px;
}

.empty-view-cont > h1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 0;
  color: #1e293b;
}

.empty-view-cont > p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #64748b;
}

.order-now-btn {
  width: 93px;
  height: 32px;
  background: #f7931e;
  border-radius: 8px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
}

.cart-view-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.cart-items-list {
  padding-left: 0;
  align-self: center;
  background: #f9fbfe;
  width: 90%;
  padding: 25px;
  border-radius: 5px;
  list-style-type: none;
}

hr {
  margin-top: 30px;
  border: 1px solid #cbd2d9;
  width: 98%;
}

.column-heads {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #475569;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  align-items: center;
  justify-items: center;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  padding-left: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #3e4c59;
  margin-left: 25px;
}

.order-btn {
  display: flex;
  flex-direction: column;
  width: 88%;
}

.place-odr {
  width: 99px;
  height: 32px;
  background: #f7931e;
  border-radius: 8px;
  border: 0;
  color: #ffffff;
  font-weight: 500;
  align-self: flex-end;
  cursor: pointer;
}
