.nav {
  background: #f8fafc;
  height: 85px;
  margin: 0;
  padding: 0 50px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #334155;
  font-weight: 600;
  font-size: 18px;
}

.logo-title {
  font-size: 20px;
  font-weight: 600;
}

.header-logo-cont {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hide {
  display: none;
}

.logout-btn {
  background-color: #f7931e;
  border-radius: 6px;
  color: #fffaff;
  height: 35px;
  width: 75px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}

.active-link {
  color: #f7931e;
  font-weight: 700;
  font-size: 18px;
}

.routes {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25vw;
}

.hamburger {
  border: 0;
  background: transparent;
  cursor: pointer;
  color: #f7931e;
  display: none;
}

@media screen and (max-width: 760px) {
  .hamburger {
    display: block;
  }

  .routes {
    display: none;
  }

  .show {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
    height: fit-content;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    padding: 0 20px;
  }
}
